#nav-primary {
	background: #fff;
/*	
	-moz-box-shadow: 0 0 12px 6px rgba(0,0,0,.33);
		-webkit-box-shadow: 0 0 12px 6px rgba(0,0,0,.33);
		-o-box-shadow: 0 0 12px 6px rgba(0,0,0,.33);
		-ms-box-shadow: 0 0 12px 6px rgba(0,0,0,.33);
		box-shadow: 0 0 12px 6px rgba(0,0,0,.33);
*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
}
#nav-primary ul {
	border-bottom: solid 1px #eeeff0; /* PMS 7547 C 7% */
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
}
#nav-primary li {
	display: inline-block;
	height: 60px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 20%;
}
#nav-primary li:first-child { 
	text-align: left;
}
#nav-primary img {
	height: auto;
	width: 60px;
}





#page-container > #header {
	min-height: 72px;
}
#app-name {
	display: inline-block;
	height: 72px;
	margin: 0px;
	padding: 1.45em 0em 0em 0em;
	text-align: center;
}
#app-name h2 {
	color: #009cb6;
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 0.025em;
	margin: 0px;
}
#app-name h3 {
	color: #eb3300;
	display: block;
	font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.4em;
	font-weight: 800;
	letter-spacing: -0.01em;
	margin: 0px;
	padding: 0px;
}










@media (max-width: 374px) {

}
@media (min-width: 375px) {
	#nav-primary li {
		height: 72px;
		width: 72px;
	}
	#nav-primary img {
		width: 72px;
	}
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	#nav-primary li {
		height: 84px;
		width: 84px;
	}
	#nav-primary img {
		width: 84px;
	}
}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#nav-primary {
		background: #fff;
		border-right: solid 1px #eeeff0; /* PMS 7547 C 7% */
		-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
		height: 100%;
		width: 72px;
	}
	#nav-primary ul {
		border: none;
	}
	#page-container > #header {
		height: 72px;
		left: 72px;
		position: relative;
	}
	#app-name {
		height: 72px;
		padding: 1.45em 0em 0em 1.45em;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#nav-primary {
		width: 84px;
	}
	#nav-primary li {
		height: 84px;
		width: 84px;
	}
	#nav-primary img {
		width: 84px;
	}
	#page-container > #header {
		height: 84px;
		left: 84px;
	}
	#app-name {
		height: 84px;
		padding: 1.75em 0em 0em 1.75em;
	}
}
