html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
}
#page-container {
	padding-top: 60px;
	width: 100%;
}









@media (max-width: 374px) {

}
@media (min-width: 375px) {
	#page-container {
		padding-top: 72px;
	}
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {
	.col-md-15,
	.col-lg-15 {
		float: left;
		width: 20%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#page-container {
		padding-top: 84px;
	}
}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#page-container {
		padding-top: 0px;
	}
	.container {
		margin: 0px 10%;
		padding: 0px;
		width: auto;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
