* {
	color: #5b6770;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
#content {
	min-height: 320px;
}
h1,
h2,
h3,
p {
	text-align: center;
}
h1,
h2 {
	font-size: 1.6em;
	font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 1.3em;
	margin: 0px;
	padding: 0px;
}
h3 {
	font-size: 1.6em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	letter-spacing: -0.02em;
	line-height: 1.3em;
	margin: 0em 0em 1.5em 0em;
	padding: 0px;
}
h4 {
	font-size: 1.1em;
	font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	letter-spacing: -0.01em;
	margin: 2em 0em 1em 0em;
	padding: 0px;
}
p,
li {
	font-size: 0.85em;
	line-height: 1.6em;
	margin-bottom: 2em;
}
li {
	margin-bottom: 0.5em;
}
strong {
	font-weight: 700;
}
a {
	color: #009cb6;
	text-decoration: none;
}
a:hover {
	color: #006272;	/* PMS 3155 C */
	text-decoration: underline;
}
.section-content * {
	color: #fff;
}







.section-content {
	background: #009cb6;
		background: -moz-linear-gradient(top, #00a5bd 0%, #009cb6 33%, #009cb6 66%, #007c91 100%); /* PMS 2228 C > PMS 2229 C > PMS 2231 C */
		background: -webkit-linear-gradient(top, #00a5bd 0%,#009cb6 33%, #009cb6 66%, #007c91 100%);
		background: linear-gradient(to bottom, #00a5bd 0%, #009cb6 33%, #009cb6 66%, #007c91 100%);
	min-height: 500px;
	padding: 2.4em;
}
.section-img {
	height: auto;
	width: 100%;
}
.overlap {

}
#content-1 .overlap div {
	background: #f2f0ee; /* PMS Warm Gray 1 C 33% */
	padding: 3em;
}
#content-5 .section-content {
	background: #131e29;
}
#content-5 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#content-5 li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#content-5 img {
	height: 30px;
	width: auto;
}







/* Begin design page styles */
#dribbble-shots .row {
	list-style: none;
	margin: 0em;
	padding: 0px;
}
#dribbble-shots ul,
#dribbble-shots li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.dribbble-shot {
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.dribbble-shot a {
	background: rgba(29, 37, 45, 0);
	display: block;
	text-decoration: none;
}
.dribbble-shot a:hover {
	background: rgba(29, 37, 45, 0.95);
}
a .dribbble-shot-description {
	color: #fff;
	display: none;
}
a:hover .dribbble-shot-description {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.views-count {
	color: #009cb6;
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	font-size: 3em;
	font-weight: 100;
	line-height: 1em;
	padding: 0px;
}
.on-dribbble {

}
.on-dribbble span {
	display: inline-block;
	font-size: 0.8em;
	line-height: 3em;
}
.on-dribbble .logo {
	display: inline-block;
	margin-bottom: 0.35em;
	height: 12px;
	width: auto;
}








@media (max-width: 374px) {

}
@media (min-width: 375px) {
	h1,
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.8em;
	}
	p {
		font-size: 1em;
	}
	.section-content {
		padding: 2.9em;
	}
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {
	h1,
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 2em;
	}
	p {
		font-size: 1.1em;
	}
	.section-content {
		padding: 3.2em;
	}
}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	h1,
	h2,
	h3,
	p {
		text-align: left;
	}
	h1,
	h2,
	h3 {
		font-size: 2em;
	}
	.overlap h1,
	.overlap h2,
	.overlap h3 {
		font-size: 1em;
	}
	p,
	li {
		font-size: 0.9em;
		font-weight: 300;
		line-height: 1.7em;
	}
	li {
		margin-bottom: 0.5em;
	}
	strong {
		font-weight: 700;
	}
	#content {
		left: 72px;
		position: relative;
	}
	.section-content {
		padding: 5.7em;
	}
	.overlap {
		position: relative;
		left: 57%;
		top: -500px;
		width: 43%;
	}
	#content-1 .section-content {
		padding-right: 25em;
		width: 90%;
	}
	#content-1 .section-img {
		height: auto;
		width: 50%;
	}
	#content-2 .section-content {
		width: 60%;
	}
	#content-3 .section-content {
		width: 75%;
	}



	.views-count {
		font-size: 5em;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {
	.section-content {
		padding: 6em;
	}
	#content-1 .section-content {
		padding-right: 26em;
	}
	.overlap {
		left: 59%;
		top: -500px;
		width: 41%;
	}
}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#content {
		left: 84px;
	}
	.overlap h1,
	.overlap h2,
	.overlap h3 {
		font-size: 1.2em;
	}
	.section-content {
		padding: 6.5em;
	}
	#content-1 .section-content {
		padding-right: 30em;
	}
	.overlap {
		top: -450px;
	}
}
