#page-container > #footer {

}
#smart-creative,
#about {
	padding: 2em 0em;
}
#smart-creative {
	background: #009cb6;
}
#about {
	background: #ebe8e5; /* PMS Warm Gray 1 C 50% */
}
#smart-creative img {
	height: auto;
	width: 120px;
}
#smart-creative h2,
#about h2,
#about h3 {
	color: #131e29;
	display: block;
	font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.2em;
	margin: 0px;
	text-align: center;
}
#about h3 {
	font-family: 'Raleway', 'Helvetica Neue', sans-serif;
	font-weight: 200;
}
#smart-creative h2,
#about h3 {
	margin-bottom: 1em;
}
#smart-creative h2 {
	color: #fff;
}
#smart-creative p,
#about p {
	font-size: 0.88em;
	font-weight: 400;
	line-height: 1.9em;
	margin: 0em auto 1.9em auto;
	text-align: center;
	width: 70%;
}
#smart-creative p {
	color: #fff;
}
#smart-creative .byline {
	font-weight: 600;
	line-height: 1.4em;
}
#smart-creative .byline,
#about p {
	margin-bottom: 0px;
}


#connect {
	text-align: center;
}
#connect span {
	color: #eb3300;
	font-weight: 900;
	line-height: 72px;
}
#connect span a {
	font-weight: 400;
}
#connect ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#connect li {
	display: inline-block;
	margin: 0em 0.25em;
	padding: 0px;
}
#connect .social .icon {
	height: 24px;
	width: auto;
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
