#page-container > #footer {
	display: none;
}
#connect {
	text-align: center;
}
#connect span {
	color: #eb3300;
	font-size: 1em;
	font-weight: 800;
	line-height: 72px;
}
#connect span a {
	font-weight: 500;
}
#connect ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#connect li {
	display: inline-block;
	margin: 0em 0.25em;
	padding: 0px;
}
#connect .social .icon {
	height: 24px;
	width: auto;
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {
	#connect span {
		color: #eb3300;
		font-size: 1.1em;
	}
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {
	#connect span {
		color: #eb3300;
		font-size: 1.2em;
	}
}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#page-container > #footer {
		left: 72px;
		position: relative;
	}
	#connect {
		border-left: solid 1px #f3f3f3;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		width: 84px;
	}
	#connect span {
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#page-container > #footer {
		left: 84px;
	}
}
