#page-container > #footer {
	background: #131e29;
	width: 100%;
}


#about {
	color: #5b6770;	/* PMS 431 C */
	min-height: 84px;
	padding: 4em 1.5em;
	text-align: center;
}
#about .headshot {
	border-radius: 50em;
	filter: sepia(25%);
	height: auto;
	width: 84px;
}
#about h5 {
	margin: 1.25em 0em 1.5em 0em;
}
#about h5,
#about h5 .plus {
	color: #bbc7d6; /* PMS 537 C */
}
#about h5 .plus {
	font-weight: 300;
}
#about p {
	color: #5b6770;	/* PMS 431 C */
	font-size: 0.8em;
	margin: 0px;
}
#about strong {
	color: #bbc7d6; /* PMS 537 C */
	display: block;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#about strong .plus {
	color: #bbc7d6; /* PMS 537 C */
	font-weight: 300;
}


#hello {
	background: #fff;
}
#hello > div {
	font-size: 1.1em;
	line-height: 72px;
	text-align: center;
}
#hello span {
	color: #eb3300;
	font-weight: 700;
}
/*  Begin Smooch styles */
#sk-holder #sk-messenger-button {
	background: #eb3300 !important;
	right: 10px !important;
}
#sk-header {
	color: rgb(101,117,142) !important;
}
#sk-holder #sk-container #sk-header {
	background: #a6bbc8 !important;
	color: #a6bbc8 !important;
}
.intro-text {
	display: none !important;
}
.app-name {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-weight: 400 !important;
}
.sk-logo {
	display: none !important;
}
/*  End Smooch styles */



@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {
	#hello > div {
		font-size: 1.3em;
		line-height: 84px;
	}
}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {
	#hello > div {
		font-size: 1.4em;
	}
}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {
	#page-container > #footer {
		background: #c6dae7;
	}
	#hello > div {
		font-size: 1.5em;
	}
}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#page-container > #footer {
		left: 72px;
		position: relative;
	}
	#hello {
		border-left: solid 1px #eeeff0; /* PMS 7547 C 7% */
		display: inline-block;
		height: 100%;
		right: 0;
		position: fixed;
		top: 0;
		width: 72px;
		z-index: 99;
	}
	#hello > div {
		font-size: 0.9em;		
		height: 72px;
		line-height: 72px;
		-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		transform-origin: bottom left;
		vertical-align: middle;
	}
	#hello span {
		text-transform: uppercase;
	}
	#sk-holder #sk-messenger-button {
		right: 7px !important;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#page-container > #footer {
		left: 84px;
	}
	#hello {
		width: 84px;
	}
	#hello > div {
		height: 84px;
		line-height: 84px;
	}
	#sk-holder #sk-messenger-button {
		right: 13px !important;
	}
}
