#nav-primary {
	background: #131e29;
	bottom: 0;
	-moz-box-shadow: 0 0 12px 3px rgba(0,0,0,.25);
		-webkit-box-shadow: 0 0 12px 3px rgba(0,0,0,.25);
		-o-box-shadow: 0 0 12px 3px rgba(0,0,0,.25);
		-ms-box-shadow: 0 0 12px 3px rgba(0,0,0,.25);
		box-shadow: 0 0 12px 3px rgba(0,0,0,.25);
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 98;
}
#nav-primary ul {
	display: inline-block;
	list-style: none;
	margin: 0px auto;
	padding: 0px;
}
#nav-primary li {
	display: inline-block;
	height: 60px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 60px;
}
#nav-primary img {
	height: auto;
	width: 60px;
}








#app-name {
	display: inline-block;
	float: right;
	height: 72px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
#app-name h2 {
	color: #009cb6;
	display: block;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 0.025em;
	margin: 0px;
	padding: 2em 0em 0em 0em;
}
#app-name h3 {
	color: #eb3300;
	display: block;
	font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.4em;
	font-weight: 800;
	letter-spacing: -0.01em;
	margin: 0px;
	padding: 0px;
}










@media (max-width: 374px) {

}
@media (min-width: 375px) {
	#nav-primary li {
		height: 72px;
		width: 72px;
	}
	#nav-primary img {
		width: 72px;
	}
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	#nav-primary li {
		height: 84px;
		width: 84px;
	}
	#nav-primary img {
		width: 84px;
	}
}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#nav-primary {
		background: #fff;
		border-right: solid 1px #f3f3f3;
		-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
		height: 100%;
		width: 72px;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
		#nav-primary {
		background: #fff;
		border-right: solid 1px #f3f3f3;
		-moz-box-shadow: none;
			-webkit-box-shadow: none;
			-o-box-shadow: none;
			-ms-box-shadow: none;
			box-shadow: none;
		height: 100%;
		width: 84px;
	}
	#nav-primary li {
		height: 84px;
		width: 84px;
	}
	#nav-primary img {
		width: 84px;
	}
}
