/*

Primary:
PMS 2028 C #eb3300

Secondary:
PMS 2229 C #009cb6

Monochromatic 5435 C:
PMS 5435 C #a6bbc8
PMS 7547 C #131e29
PMS 431 C #5b6770

Misc:
PMS 545 C #c6dae7

*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'Mono Social Icons Font';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MonoSocialIconsFont-1.10.eot');
  src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
}
.social-icon {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
}
#page-container {
  height: 100%;
  width: 100%;
}
#page-container > #header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#page-container > #header .logo {
  height: 72px;
  width: auto;
}
#app-name {
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 52%;
}
#app-name h2 {
  color: #009cb6;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin: 0px;
  padding: 2em 0em 0em 0em;
}
#app-name h3 {
  color: #eb3300;
  display: block;
  font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: -0.01em;
  margin: 0px;
  padding: 0px;
}
#hamburger-menu {
  background: none;
  border: none;
  float: right;
  height: 72px;
  margin: 0px;
  padding: 0px;
  width: 72px;
}
#hamburger-menu .glyphicon-menu-hamburger {
  color: #5b6770;
  /* PMS 431 C */
  font-size: 1.7em;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 992px) {
  #page-container > #header {
    border-right: solid 1px #f3f3f3;
    height: 100%;
    width: 72px;
  }
  #app-name {
    border: solid 1px #000;
    bottom: 0;
    display: none;
    float: none;
    height: 72px;
    left: 0;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    width: 240px;
  }
  #hamburger-menu {
    float: none;
  }
}
* {
  color: #5b6770;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
#content {
  min-height: 640px;
  padding-top: 72px;
}
h1,
h2 {
  font-size: 1.6em;
  font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 1.6em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin: 0em 0em 1.6em 0em;
  padding: 0px;
}
p {
  font-size: 0.85em;
  line-height: 1.7em;
  margin-bottom: 1.7em;
}
h1,
h2,
h3,
p {
  text-align: center;
}
strong {
  font-weight: 700;
}
a {
  color: #009cb6;
  text-decoration: none;
}
a:hover {
  color: #006272;
  /* PMS 3155 C */
  text-decoration: underline;
}
.section-content * {
  color: #fff;
}
.section-content {
  background: #009cb6;
  margin-bottom: 5em;
  min-height: 500px;
  padding: 2.4em;
}
.section-img {
  border: solid 1px #000;
  height: 500px;
  width: 50%;
}
.overlap {
  position: relative;
  left: 50%;
  top: -400px;
}
.section-content.reverse-layout {
  top: -200px;
}
.section-img.reverse-layout.overlap {
  left: 0px;
  position: none;
  top: -200px;
}
#content-5 .section-content {
  background: #131e29;
}
#content-5 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#content-5 li {
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#content-5 img {
  height: 30px;
  width: auto;
}
@media (min-width: 992px) {
  h1,
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2.6em;
  }
  p {
    font-size: 0.9em;
    line-height: 1.7em;
    margin-bottom: 1.6em;
  }
  strong {
    font-weight: 800;
  }
  #content {
    left: 72px;
    position: relative;
  }
  .section-content {
    margin-bottom: 20em;
    padding: 7em;
  }
  #content-1 .section-content {
    width: 90%;
  }
  #content-2 .section-content {
    width: 60%;
  }
  #content-3 .section-content {
    width: 75%;
  }
}
#connect {
  text-align: center;
}
#connect span {
  color: #eb3300;
  font-size: 1em;
  font-weight: 800;
  line-height: 72px;
}
#connect span a {
  font-weight: 500;
}
#connect ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#connect li {
  display: inline-block;
  margin: 0em 0.25em;
  padding: 0px;
}
#connect .social .icon {
  height: 24px;
  width: auto;
}
@media (min-width: 375px) {
  #connect span {
    color: #eb3300;
    font-size: 1.1em;
  }
}
@media (min-width: 414px) {
  #connect span {
    color: #eb3300;
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  #page-container > #footer {
    left: 72px;
    position: relative;
  }
  #connect {
    border-left: solid 1px #f3f3f3;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 72px;
  }
  #connect span {
    display: none;
  }
}
