<% include header.ejs %>

<section id="content-2">
	<div class="container">
		<h2>Hands-on experience with:</h2>
		<ul class="row list-capabilities">
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Front-End</h4>
				<ul>
					<li>Semantic HTML5</li>
					<li>CSS3 + LESS/SASS</li>
					<li>JavaScript + jQuery</li>
					<li>AngularJS 1</li>
					<li>AngularJS 2 + TypeScript</li>
					<li>React + JSX</li>
					<li>Responsive Web Design (RWD)</li>
					<li><a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a></li>
					<li>Browser Compatibility</li>
					<li><a href="https://github.com/Shopify/skeleton-theme" target="_blank">Shopify Skeleton Theme</a></li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Back-End</h4>
				<ul>
					<li>Node.js + Express</li>
					<li>Python + Flask</li>
					<li>PHP (for WordPress)
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Data + DBs + Data Viz</h4>
				<ul>
					<li>MongoDB</li>
					<li>PostgreSQL</li>
					<li>MySQL</li>
					<li>D3.js</li>
					<li>RESTful JSON APIs</li>
					<li>Minitab</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Platforms + Misc.</h4>
				<ul>
					<li>Heroku</li>
					<li>Amazon Web Services (AWS) Elastic Compute Cloud (EC2)</li>
					<li>Rackspace + Ubuntu (for LAMP stack)</li>
					<li>Google Analytics</li>
					<li>Adobe Omniture (SiteCatalyst)</li>
					<li>Raspberry Pi</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">
				<h4>Phased Out Technologies</h4>
				<ul>
					<li>Adobe Flash + ActionScript</li>
					<li>Adobe Director</li>
					<li>Synchronized Multimedia Integration Language (SMIL)</li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<% include footer.ejs %>