<% include header.ejs %>

<section id="content-1">
	<div id="dribbble-shots">
		<ul class="row">
<% for(var i = 0; i < dribbbleShots.length; i++) {%>
			<li class="dribbble-shot col-xs-6 col-sm-4 col-md-3 col-lg-3" style="background-image: url('<%= dribbbleShots[i].images.normal %>');">
				<a href="<%= dribbbleShots[i].html_url %>" target="_blank" class="grid-rect hover-animation"><div class="dribbble-shot-description">
					<!--<%= dribbbleShots[i].title %>-->
					<div class="views-count"><%= dribbbleShots[i].views_count %></div>
					<div class="on-dribbble"><span>views on</span> <img src="/img/logo-dribbble.png" class="logo"></div>
				</div></a>
			</li>
<% } %>
		</ul><!--/.row -->
	</div>
</section>





<section id="content-2">
	<div class="container">
		<h2>Primary UX Research Methods Used:</h2>
		<ul id="ux-research-methods" class="row">
			<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h3>Ask</h3>
				<ul>
					<li>Interviews</li>
					<li>Surveys</li>
					<li>Focus groups</li>
					<li>Diary studies</li>
					<li>Experience sampling</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h3>Observe</h3>
				<ul>
					<li>Ethnographic observations</li>
					<li>User testing</li>
					<li>Usage analytics</li>
					<li>Video analytics</li>
					<li>Social media mining</li>
				</ul>
			</li>
			<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h3>Inspect</h3>
				<ul>
					<li>Guideline-based</li>
					<li>Walkthroughs</li>
					<li>Comparative analysis</li>
				</ul>
			</li>
		</ul>
	</div>
</section>





<section id="content-3">
	<div class="container">
		<h2>Design Sprint</h2>
		<ul id="design-sprint" class="row">
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">Day 1: Map &amp; Target</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">Day 2: Sketch</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">Day 3: Decide</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">Day 4: Prototype</li>
			<li class="col-xs-12 col-sm-12 col-md-15 col-lg-15">Day 5: Test</li>
		</ul>
	</div>
</section>

<% include footer.ejs %>