
			</div>
<!--/#page-container > #content -->








			<footer id="footer">
				<div class="skew-outer-opposite">&nbsp;</div>
				<section id="summary">
					<div class="container">
						<div class="container-inner">
							<div class="branding">
								<a href="<%= html.body.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

								<h2>Michael Mallari, MBA, CSPO, CSM</h2>
								<h3>Hybrid thinker + doer</h3>
							</div>

							<p>Michael leverages over 15 years of product, design, and engineering experience to help organizations&mdash;ranging from early-stage startups to Fortune 500 companies&mdash;deliver delightful digital customer experiences that align with business goals. <a href="">#SmartCreative</a></p>

							<a href="mailto:hello@michaelmallari.com" class="btn btn-primary btn-lg hover-animation">Say Hello</a>
						</div>
					</div>
				</section>
				<div id="ipad-mock"></div>				
			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->








		<script src="<%= html.body.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= html.body.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= html.body.url_base %>/js/functions.min.js"></script>
	</body>
</html>
