			</div>
<!--/#page-container > #content -->





			<footer id="footer">
				<section id="connect">
					<span>Say hello. <a href="mailto:hello@michaelmallari.com">hello@michaelmallari.com</a></span>
				<section>			
			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->





		<script src="/js/jquery-3.1.0.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/functions-min.js"></script>
		<script>

		</script>
	</body>
</html>
