			</div>
<!--/#page-container > #content -->





			<footer id="footer">
				<section id="hello"><div><span>Say&nbsp;hello.</span>&nbsp;&nbsp;<a href="mailto:hello@michaelmallari.com">hello@michaelmallari.com</a></div></section>	
			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->





		<script src="https://cdn.smooch.io/smooch.min.js"></script>
		<script src="<%= html.body.url_base %>/js/jquery-3.1.0.min.js"></script>
		<script src="<%= html.body.url_base %>/js/bootstrap.min.js"></script>
		<script src="<%= html.body.url_base %>/js/functions.min.js"></script>
		<script>
			Smooch.init({ appToken: 'dhaklgcreap3rq26159iiygvg' });
		</script>
	</body>
</html>
