			</div>
<!--/#page-container > #content -->





			<footer id="footer">
				<section id="smart-creative">
					<img src="/img/how-google-works.jpg" class="clip-center" alt="How Google Works" title="How Google Works">

					<h2>#SmartCreative</h2>

					<p>&ldquo;And who, exactly, is this smart creative? A smart creative has deep technical knowledge in how to use the tools of [his] trade, and plenty of hands-on experience.… [He] is an expert in doing. [He] doesn’t just design concepts, [he] builds prototypes. [He] is analytically smart. [He] is comfortable with data and can use it to make decisions.… [He] is business smart.… [A smart creative] must possess business savvy, technical knowledge, creative energy, and a hands-on approach to getting things done. Those are the fundamentals.&rdquo;</p>

					<p class="byline">–Eric&nbsp;Schmidt &amp; Jonathan&nbsp;Rosenberg in <a href="http://www.howgoogleworks.net/" target="_blank"><em>How&nbsp;Google&nbsp;Works</em></a></p>
				</section>
				<section id="about">
					<h2>About Michael Mallari</h2>
					<h3>Hybrid thinker and doer</h3>
					<p>Michael leverages over 15 years of product, design, and engineering experience to deliver delightful digital customer experiences that align with business goals.</p>
				</section>
				<section id="connect">
					<span>Say hello. <a href="mailto:hello@michaelmallari.com">hello@michaelmallari.com</a></span>
				<section>			
			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->





		<script src="/js/jquery-3.1.0.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/functions.js"></script>
		<script>

		</script>
	</body>
</html>
