
			</div>
<!--/#page-container > #content -->








			<footer id="footer">
				<section id="hello"><div><span>Say&nbsp;hello.</span>&nbsp;&nbsp;<a href="mailto:hello@michaelmallari.com">hello@michaelmallari.com</a></div></section>	
			</footer>
<!--/#page-container > #footer -->
		</div>
<!--/#page-container -->








		<script src="<%= html.body.url_base %>/node_modules/jquery/jquery.min.js"></script>
		<script src="<%= html.body.url_base %>/node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="<%= html.body.url_base %>/js/functions.min.js"></script>
	</body>
</html>
