<% include header.ejs %>

<section id="intro" class="bg-dark height-full">
	<div class="container">
		<h1>Need to build a product team or accelerate your existing team's performance? Say hello to your <a href="">#SmartCreative</a>.</h1>

		<div class="branding">
			<a href="<%= html.body.url_base %>/"><img src="/img/logo-mm-pms2028c-cutout.svg" class="logo-mm" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM"></a>

			<h2>Michael Mallari, MBA, CSPO, CSM</h2>
			<h3>Hybrid thinker + doer</h3>
		</div>
	</div>
</section>








<section id="outcome-driven" class="height-3-4 skew-outer">
	<div class="container skew-inner">
		<div >
			<span class="tag">Principles</span>
			<h2>It's never sufficient to just build out an idea.</h2>
			<p>Metrics for success need to be defined&mdash;how the business will acquire/delight/retain customers, cultivate positive team morale, and deliver value to shareholders.</p>
		</div>
	</div>
</section>








<section id="brands">
	<div class="container">
		<div class="container-inner">
			<span class="tag">Stakeholder Management</span>
			<h2>Adaptable to various industries</h2>
			<p>During his first 90 days, Michael puts on his &ldquo;MBA hat&rdquo; to rapidly create momentum&mdash;accelerating his learnings (about markets, products, systems, structures, politics, etc.), securing early wins, negotiating success, and achieving alignment (among other things). His ability to successfully adapt is illustrated by the list of brands he has worked with below:</p>
		</div>
	</div>

	<ul id="brand-logos">
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-amex.svg" alt="American Express" title="American Express" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-bbva.png" alt="BBVA" title="BBVA" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-gap.svg" alt="Gap" title="Gap" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marriott.svg" alt="Marriott" title="Marriott" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marvel.svg" alt="Marvel" title="Marvel" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-nasdaq.svg" alt="Nasdaq" title="Nasdaq" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-upenn.svg" alt="University of Pennsylvania" title="University of Pennsylvania" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-rockefeller.svg" alt="Rockefeller University" title="Rockefeller University" class="logo vertical-middle"></li>
	</ul>
	<div class="clearfix"></div>
</section>








<section id="garage">
	<!-- <img src="/img/mock-scholarathlete-ipad-1.png" class="mock-ipad"> -->
	<div class="container row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<span class="tag">Hands-on</span>
			<h2>Not affraid of getting dirty in the proverbial garage</h2>
			<p>While Michael has held cushy corporate jobs, he is also no stranger to being lean and scrappy. He has spent many hours in the &ldquo;coffice&rdquo;&mdash;<strong>building</strong> (coding and designing) and <strong>validating</strong> startup/product ideas. Here's a list of entrepreneurial ventures he has been involved in:</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
			<ul id="startups">
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-credibly.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-cupofwifi.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-blackmamba.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-pamelakay.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-parkingskillz.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-scholarathlete.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-screechowl.png" class="logo vertical-middle"></li>
				<li class="hidden-xs col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-topmbaapplicants.png" class="logo vertical-middle"></li>
				<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-worklifeedge.png" class="logo vertical-middle"></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<% include footer.ejs %>