<% include header.ejs %>

<section id="intro" class="bg-dark height-full">
	<div class="container">
		<h1>Need to build a product team or accelerate your existing team's performance? Say hello to your <a href="">Smart&nbsp;Creative</a>.</h1>

		<img src="/img/logo-mm-pms2028c-cutout.svg" class="logo" alt="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM" title="Hybrid thinker + doer | Michael Mallari, MBA, CSPO, CSM">
		<h2>Michael Mallari, MBA, CSPO, CSM</h2>
		<h3>Hybrid thinker + doer</h3>
	</div>
</section>








<section id="outcome-driven" class="height-3-4 skew-outer">
	<div class="container skew-inner">
		<div>
			<span class="tag">Philosophies</span>
			<h2>It's never sufficient to just have an idea and build it right away.</h2>
			<p>Measures of success need to be defined&mdash;how the business will profit, cultivate positive team morale, and acquire/delight/retain customers.</p>
		</div>
	</div>
</section>








<section id="brands">
	<div class="container">
		<div class="container">
			<span class="tag">Stakeholder Management</span>
			<h2>Adaptable to various industries</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>

	<ul id="brand-logos">
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-amex.svg" alt="American Express" title="American Express" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-bbva.png" alt="BBVA" title="BBVA" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-gap.svg" alt="Gap" title="Gap" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marriott.svg" alt="Marriott" title="Marriott" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marvel.svg" alt="Marvel" title="Marvel" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-nasdaq.svg" alt="Nasdaq" title="Nasdaq" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-upenn.svg" alt="University of Pennsylvania" title="University of Pennsylvania" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="logo vertical-middle"></li>
		<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-rockefeller.svg" alt="Rockefeller University" title="Rockefeller University" class="logo vertical-middle"></li>
	</ul>
	<div class="clearfix"></div>
</section>








<section id="garage" class="">
	<!-- <img src="/img/mock-scholarathlete-ipad-1.png" class="mock-ipad"> -->
	<div class="container row">
		<div class="col-md-6 col-lg-6">
			<ul id="startups">
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-credibly.png" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-cupofwifi.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-blackmamba.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-pamelakay.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-parkingskillz.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-scholarathlete.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-screechowl.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-topmbaapplicants.svg" class="logo vertical-middle"></li>
				<li class="col-md-4 col-lg-4 grid-rectangle"><img src="/img/logo-worklifeedge.svg" class="logo vertical-middle"></li>
			</ul>
		</div>
		<div class="col-md-6 col-lg-6">
			<span class="tag">Entrepreneurship</span>
			<h2>Hands-on in the proverbial garage</h2>
			<p>Michael is no stranger to being lean and scrappy. He has spent many hours in the "coffice"&mdash;<strong>building</strong> (coding and designing) and <strong>validating</strong> start-up/product ideas. Here's a short list of his entrepreneurial ventures:</p>
		</div>
	</div>
</section>








<section id="summary" class="height-half">
	<div class="skew-outer-opposite">&nbsp;</div>
</section>

<% include footer.ejs %>