<% include header.ejs %>



<section id="content-1">
	<div class="section-content full-height">
		<h1>Fundamentally sound.</h1>
		<h3>Say hello to your #SmartCreative.</h3>

		<p>&ldquo;And who, exactly, is this smart creative? A smart creative has deep technical knowledge in how to use the tools of [his] trade, and plenty of hands-on experience.&hellip; [He] is an expert in doing. [He] doesn’t just design concepts, [he] builds prototypes. [He] is analytically smart. [He] is comfortable with data and can use it to make decisions.&hellip; [He] is business smart.&hellip; [A smart creative] must possess business savvy, technical knowledge, creative energy, and a hands-on approach to getting things done. <strong>Those are the fundamentals.</strong>&rdquo;</p>

		<p class="byline">–Eric&nbsp;Schmidt &amp; Jonathan&nbsp;Rosenberg in <a href="http://www.howgoogleworks.net/" target="_blank"><em>How&nbsp;Google&nbsp;Works</em></a></p>
	</div>
<!--
	<div class="overlap">
		<img src="/img/smart-creatives.png" alt="Smart Creatives" title="Smart Creatives" class="section-img">
		<div>
			<h2>About Michael Mallari, MBA, CSPO, CSM</h2>
			<h3>Hybrid thinker + doer</h3>
			<p>Michael leverages over 15 years of product, design, and engineering experience to deliver delightful digital customer experiences that align with business goals. <a href="/about/">Read&nbsp;more&nbsp;&raquo;</a></p>
		</div>
	</div>
-->
</section>





<section id="content-2">
	<div class="section-content full-height">
		<h2>Creative.</h2>
		<h3>Delightful UX design (doing) doesn't happen without intentions of design thinking.</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</section>





<section id="content-3">
	<div class="section-content full-height">
		<h2>Technical.</h2>
		<h3>It more than being a coder (doing); building digital products without the application of computational thinking is counterintuitive. </h3>

		<p>Programming since he was in high school in the 1990s, Michael continued that passion by earning a bachelor's degree in computer science from New York Institute of Technology's School of Engineering and Computing Sciences, and by accumulating over 10 years of professional web development experience.</p>

		<p>Still very much a computer scientist, he continues to pursue his interests in data visualization/D3.js, MEAN stack (MongoDB, Express, AngularJS, and Node.js), React (and isomorphic JavaScript), REST API, device-side JavaScript, Internet of Things (IoT), and Unmanned Aircraft Systems (UAS).</p>
	</div>
</section>





<section id="content-4">
	<div class="container">
		<h2>Hands-on <span class="plus">+</span> business savvy.</h2>
		<h3>Proudly got it done&mdash;built and shipped digital products&mdash;for these global brands for over 15 years.</h3>
	</div>
	<ul id="brand-logos">
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-amex.svg" alt="American Express" title="American Express" class="logo vertical-middle"></li>
			<li class="col-xs-6 hidden-sm hidden-md col-lg-3 grid-rectangle"><img src="/img/logo-bbva.png" alt="BBVA" title="BBVA" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-gap.svg" alt="Gap" title="Gap" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marriott.svg" alt="Marriott" title="Marriott" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-marvel.svg" alt="Marvel" title="Marvel" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-nasdaq.svg" alt="Nasdaq" title="Nasdaq" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="logo vertical-middle"></li>
			<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 grid-rectangle"><img src="/img/logo-rockefeller.svg" alt="Rockefeller University" title="Rockefeller University" class="logo vertical-middle"></li>
		</ul>
</section>

<% include footer.ejs %>