







		<div class="modal fade" id="modal-smart-creative" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="myModalLabel">And who, exactly, is this smart creative?</h3>
					</div>




					<div class="modal-body">
						<blockquote>
							<p>A smart creative has deep technical knowledge in how to use the tools of her trade, and plenty of hands-on experience. In our industry, that means she is most likely a computer scientist, or at least understands the tenets and structure of the systems behind the magic you see on your screens every day &hellip; She is an expert in doing. She doesn’t just design concepts, she builds prototypes.</p>

							<p>She is analytically smart. She is comfortable with data and can use it to make decisions. She also understands its fallacies and is wary of endless analysis. Let data decide, she believes, but don’t let it take over.</p>

							<p>She is business smart. She sees a direct line from technical expertise to product excellence to business success, and understands the value of all three.</p>

							<p>She is competitive smart. Her stock-in-trade starts with innovation, but it also includes a lot of work. She is driven to be great, and that doesn’t happen 9-to-5.</p>

							<p>She is user smart. No matter the industry, she understands her product from the user or consumer’s perspective better than almost anyone. We call her a “power user,” not just casual but almost obsessive in her interest&hellip;.</p>

							<p>She is risky creative. She is not afraid to fail, because she believes that in failure there is usually something valuable she can salvage. Either that, or she is just so damn confident she knows that even in the event that she does fail, she can pick herself up and get it right the next time around&hellip;.</p>

							<p>[Smart creatives] must possess business savvy, technical knowledge, creative energy, and a hands-on approach to getting things done. Those are the fundamentals.</p>

							<footer>Eric Schmidt &amp; Jonathan Rosenberg in <cite title="Source Title">How Google Works</cite></footer>
						</blockquote>
					</div>




					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
<!--/#modal-smart-creative -->