#page-container > #footer {
	background: #fff;
}




#garage {
	background: #c6dae7;
	padding: 64px 0px 96px 0px !important;

}
#garage ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#garage li {
	border-right: solid 2px #b7c9d3; /* PMS 5445 C */
	border-bottom: solid 2px #b7c9d3;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#garage li .logo {
	height: auto;
	max-height: 64px;
	max-width: 80px;
	width: auto;
}
#garage li:nth-child(3n) {
	border-right: solid 2px #c6dae7;
}
#garage li:nth-last-child(1),
#garage li:nth-last-child(2),
#garage li:nth-last-child(3) {
	border-bottom: solid 2px #c6dae7;
}
#garage .mock-ipad {
	height: auto;
	width: 50%;
}




#page-container > #footer .skew-outer-opposite {
	background: #fff;
	height: 80px;
	top: -40px;
}
#summary {
	margin-top: -32px;
	padding-bottom: 5em;
	text-align: center;
}
#summary p {

}




#ipad-mock {
	background: url('/img/mock-scholarathlete-ipad-1.png') top no-repeat;
	background-size: cover;
	height: 120px;
	margin: 0px auto;
	width: 90%;
}




#hello {
	display: none;
}




/*  Begin Smooch styles */
#sk-holder #sk-messenger-button {
	background: #eb3300 !important;
	right: 10px !important;
}
#sk-header {
	color: rgb(101,117,142) !important;
}
#sk-holder #sk-container #sk-header {
	background: #a6bbc8 !important;
	color: #a6bbc8 !important;
}
.intro-text {
	display: none !important;
}
.app-name {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-weight: 400 !important;
}
.sk-logo {
	display: none !important;
}
/*  End Smooch styles */








@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
	#page-container > #footer {
		margin: 0px 72px;
	}
	#garage {
		padding: 136px 0px 176px 0px !important;

	}
	#garage li .logo {
		height: auto;
		max-height: 56px;
		max-width: 64px;
		width: auto;
	}
	#summary p {
		font-size: 18px !important;
		line-height: 32px;
	}
	#ipad-mock {
		height: 280px;
		width: 66%;
	}
	#hello {
		display: block;
		min-height: 400px;
		padding-top: 72px;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 72px;
	}
	#hello p {
		color: #009cb6;
		display: block;
		font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 72px;
		text-transform: uppercase;
		-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	#hello a {
		text-transform: none;
	}
	#sk-holder #sk-messenger-button {
		right: 7px !important;
	}
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	#page-container > #footer {
		margin: 0px 80px;
	}
	#garage {
		padding: 136px 0px 176px 0px !important;

	}
	#summary p {
		font-size: 18px !important;
		line-height: 32px;
	}
	#ipad-mock {
		height: 280px;
		width: 66%;
	}
	#hello {
		display: block;
		min-height: 400px;
		padding-top: 80px;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 80px;
	}
	#hello p {
		color: #009cb6;
		display: block;
		font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 80px;
	}
	#sk-holder #sk-messenger-button {
		right: 10px !important;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {
	#garage li .logo {
		height: auto;
		max-height: 72px;
		max-width: 88px;
		width: auto;
	}
}
